header {
    text-align: center;
}

.navbar {
    background-color: #3CBFFF;
}

footer {
    height: 75px;
    background-color: #555555;
    text-align: center;
}

.nav-link {
    color: white;
    font-weight: bold;
    &:hover {
        background-color: white;
        color: black;
    }
}

.home-card {
    max-width: max-content;
    border-color: #3CBFFF;
    &:hover {
        background-color: #DD2F13;
        .card-img-top {
            opacity: 0.2;
        }
    }
}

.card-title {
    color: black;
}
